.loginCard {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 250px;
}

.example-form {
  min-width: 20vw;
  max-width: 60vw;
  width: 100%;
}

.example-full-width {
  margin-top: 5px;
  margin-inline: 20px;
  width: calc(100% - 40px);
}

.loginButton {
  margin-top: 5px;
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  font-size: larger;
}
