<mat-card class="loginCard">
    <h2>Login</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input type="email" matInput placeholder="johndoe@email.com" id="emailField">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hidePassword1 ? 'password' : 'text'" id="passwordField">
            <button mat-icon-button matSuffix (click)="hidePassword1 = !hidePassword1"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword1" type="button">
                <mat-icon>{{hidePassword1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <button class="loginButton" mat-raised-button color="primary">Login</button>
</mat-card>