<mat-toolbar class="toolbar">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>R2-PY</span>
  <span class="toolbar-spacer"></span>
  <a mat-button class="nav-link" href="login" aria-current="page">Login</a>
  <a mat-button class="nav-link" href="book" aria-current="page">Book</a>
  <a mat-button class="nav-link" href="profile" aria-current="page">Profile</a>
  <a mat-button class="nav-link" href="about" aria-current="page">About</a>
</mat-toolbar>


<!-- <mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button class="nav-link" href="book" aria-current="page">Book</a>
      </mat-list-item>
      <mat-list-item role="listitem"><a mat-button class="nav-link" href="profile" aria-current="page">Profile</a>
      </mat-list-item>
      <mat-list-item role="listitem"><a mat-button class="nav-link" href="about" aria-current="page">About</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer> -->
<router-outlet></router-outlet>
<!-- </mat-drawer-container> -->