$toobarHeight: 64px;

.toolbar {
  height: $toobarHeight;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  width: auto;
  height: calc(100vh - $toobarHeight);
}

.sidenav {
  padding: 20px;
  display: block;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-size: large;
  width: 6rem;
}
