<mat-card class="desk-card">
    <mat-card-header>
        <div mat-card-avatar class="user-header-image"></div>
        <mat-card-title>1-1-1-B</mat-card-title>
        <mat-card-subtitle>John Doe</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
        <button id="bookingButton" mat-raised-button color="primary">Book</button>
    </mat-card-actions>
</mat-card>

<mat-card class="desk-card">
    <mat-card-header>
        <mat-card-title>1-1-1-B</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Booked: John Doe
    </mat-card-content>
    <mat-card-actions>
        <button id="bookingButton" mat-raised-button color="primary">Book</button>
    </mat-card-actions>
</mat-card>