$deskPadding: 30px;

.desk-card {
  margin-top: $deskPadding;
  margin-left: $deskPadding;
  max-width: 200px;
}

.user-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

#cardTitle {
  text-align: center;
}

#bookingButton {
  margin: 0 auto;
  display: block;
}
