<div class="userInfo">
    <h1>Your Profile</h1>
    <mat-card>
        <form class="example-form">
            <table class="example-full-width" cellspacing="2">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput id="firstNameField">
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput id="lastNameField">
                        </mat-form-field>
                    </td>
                </tr>
            </table>


            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email Address</mat-label>
                <input type="email" matInput placeholder="johndoe@email.com" id="emailField">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <table class="example-full-width" cellspacing="2">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hidePassword1 ? 'password' : 'text'" id="passwordField">
                            <button mat-icon-button matSuffix (click)="hidePassword1 = !hidePassword1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword1" type="button">
                                <mat-icon>{{hidePassword1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Confirm your password</mat-label>
                            <input matInput [type]="hidePassword2 ? 'password' : 'text'" id="passwordCField">
                            <button mat-icon-button matSuffix (click)="hidePassword2 = !hidePassword2"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword2" type="button">
                                <mat-icon>{{hidePassword2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- Team Selectable input where Team will be selected and on selection change in dropdown will the team be changed when the submit button is clicked -->
            <!-- <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Team</mat-label>
                <mat-select [disabled]="disableSelect.value" id="teamField">
                    <mat-option value="option1">Team 1</mat-option>
                    <mat-option value="option2" disabled>Team 2 (disabled)</mat-option>
                    <mat-option value="option3">Team 3</mat-option>
                </mat-select>
            </mat-form-field> -->

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Team</mat-label>
                <input type="text" disabled matInput placeholder="Team Name" id="teamField">
                <mat-icon matSuffix>groups</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Office</mat-label>
                <input type="text" disabled matInput placeholder="Office Name" id="officeField">
                <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>


        </form>
        <button class="submitButton" mat-raised-button color="primary">Submit</button>
    </mat-card>