.userInfo {
  margin-top: 10vh;
  margin-inline-start: 20vw;
  width: 60vw;
}

.input-group-text {
  width: 10rem;
}

.example-form {
  min-width: 20vw;
  max-width: 60vw;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.submitButton {
  margin-top: 2rem;
  float: right;
  font-size: larger;
}
